small {
font-style:italic; 
clear : left;
}

#tweets {
	width:350px;
	text-align : left;
	font-size : 13px;
		background:#000 url('../images/default/interface_dark.png') repeat;
	-moz-border-radius: 6px;
	border-radius: 6px; 
	padding: 20px 10px;
	-webkit-box-shadow:  1px 1px 1px #0f0f0f;
	-moz-box-shadow: 1px 1px 1px #0f0f0f;
	box-shadow: 1px 1px 1px #0f0f0f; 	
}

#tweets li {
	padding: 5px;
	color:#FFFFFF;
	border-bottom:1px solid #000000;
	border-top:1px solid #353434;
	line-height:150%;
}

#tweets li.tweet_content_0 {
	border-top:0px none;
}
#tweets li:last-child{
	border-bottom:0px none;	
}

#tweets .hash { color:#FFF; } 
#tweets .reply { color:#FFF; } 

/*
a:link { text-decoration:underline; color:#FFF;}
a:active { text-decoration:underline; color:#FFF;}
a:hover { text-decoration:underline; color:#FFF;}
a:visited { text-decoration:underline; color:#FFF;} */

/*Demo styling*/
#info {
	width:300px;
	height:300px;	
	position:relative;
	float:left;
}
#info img {
}
#info p {
	padding:10px 10px 10px 20px;
	line-height:150%;
}
/** Buttons **/
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	margin: 25px;
	text-decoration: none;
}
.button:hover {
	color: #EFEFED;
	text-decoration: none;
}
.button:active {
	text-decoration: none;
	color: #EFEFED;
	position: relative;
	top: 1px;
}
	/*** sizes ***/
	.big {
		font-size: 18px;
	}
	.medium {
		font-size: 14px;
	}
	.small {
		font-size: 11px;
		padding: .2em 1em .275em;
	}
	
	.right {
		margin-top:8px;
		float:right;
		position:relative;					
	}
	#blogroll .middle {
		margin-left:230px;
		float:left
		position:relative;					
	}
		/*** orange ***/
		a.orange:link {
			color:#EFEFED;
			text-decoration: none;
		}
		.orange, .orange:link, .orange:visited {
			border: solid 1px #ba6000;
			background: #f78d1d url('images/buttons.png') repeat-x;
			color:#EFEFED;
			text-decoration: none;
		}
		.orange:hover {
			background: url("images/buttons.png") repeat-x scroll 0px -47px #F47C20;
			text-shadow:0 -1px 0 rgba(0, 0, 0, 0.2);
			text-decoration: none;
		}
		.orange:active {
			color:#EFEFED;
			text-decoration: none;
		}
