@import url('reset.css');
@import url('http://fonts.googleapis.com/css?family=Anaheim');
@import url(http://fonts.googleapis.com/css?family=Average+Sans);

body {
text-align : center;
font-family : Arial, Helvetica, sans-serif;
font-size : 14px;
color : #2a2a2a;
background : #eee;
}

a, a:visited {
color : #09c;
text-decoration : none;
}

div#container {
margin : auto;
width : 980px;
padding : 0 10px 30px 10px;
background : #fff;
-moz-box-shadow: 0 0 5px 5px #888;
-webkit-box-shadow: 0 0 5px 5px#888;
box-shadow: 0 0 5px 5px #888;
}

div.clear {
clear : both;
}

div#heads {
width : 100%;
/*background : #aaa; */
padding : 10px 0;
}

div#logo {
float : left;
width : 210px;
padding-right : 20px;
text-align : left;
/*margin-left : 10px; */
border-right : 1px dashed #777;
}

h1#main-title {
font-family: 'Anaheim', sans-serif;
font-size : 28px;

}

div#navigation {
float : right;
width : 680px;

}

ul#nav {
float : left;
font-size : 16px;
text-transform : uppercase;
}

ul#nav li {
float : left;
padding : 1em 1.2em;
}

ul#nav li a {
color : #555;
text-decoration : none;
}

ul#nav li:last-child {
/*border-left : 1px solid #000; */
}

div#banner {
margin : 10px auto;
overflow : hidden; 
width : 980px; 
/*padding : 0 10px;  */
}

div#main-content {
width : 100%;
background : #e4e4e4;
}

div#left-content {
/*Total width = 600px */
float : left;
width : 580px;
padding : 10px;

}

div#featured-banner {
text-align : left;
background: #8f8f8f;
background: -moz-linear-gradient(top, #fcfcfc 0%, #afafaf 70%);
background: -webkit-linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
background: -o-linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
background: -ms-linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
background: linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#8f8f8f',GradientType=0 );
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9f9f9', endColorstr='#8f8f8f')"; 

-webkit-box-shadow:  1px 1px 1px #0f0f0f;
-moz-box-shadow: 4px 4px 4px #0f0f0f;
box-shadow: 1px 1px 1px #0f0f0f;
}

div#featured-banner p {
padding : 13px 0;
}

img.left {
border : 4px solid #fff;
float : left;
margin : 5px 12px 10px 5px;
}

h1.head-title {
font-family: 'Average Sans', sans-serif;
font-size : 24px;
}

div.clear-bottom {
clear : both;
text-align : right;
border-top : 1px dashed #666;
}

div#content-wrapper {
margin-top : 15px;
width : 100%;
}

div.box {
float : left;
margin-top : 14px;
text-align : left;
width : 280px;
padding : 15px 2px;
background: #cccccc;
background: -moz-linear-gradient(top, #f9f9f9 0%, #cccccc 70%);
background: -webkit-linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
background: -o-linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
background: -ms-linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
background: linear-gradient(top, #f9f9f9 0%,#8f8f8f 70%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#8f8f8f',GradientType=0 );
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f9f9f9', endColorstr='#8f8f8f')";

-webkit-box-shadow:  1px 1px 1px #0f0f0f;
-moz-box-shadow: 4px 4px 4px #0f0f0f;
box-shadow: 1px 1px 1px #0f0f0f;
}

div.box p {
padding : 5px;
}

div#even {
margin-left : 12px;
}

h2.sub-title {
font-family: 'Average Sans', sans-serif;
font-size : 18px;
}

div.featured-content {
margin-top : 15px;
text-align : left;
background: #f9f9f9;
background: -moz-linear-gradient(top, #158aff 0%, #f9f9f9 70%);
background: -webkit-linear-gradient(top, #158aff 0%,#f9f9f9 70%);
background: -o-linear-gradient(top, #158aff 0%,#f9f9f9 70%);
background: -ms-linear-gradient(top, #158aff 0%,#f9f9f9 70%);
background: linear-gradient(top, #158aff 0%,#f9f9f9 70%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#158aff', endColorstr='#f9f9f9',GradientType=0 );
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#158aff', endColorstr='#f9f9f9')";

border-bottom : 2px solid #69f;
}

div.featured-content p {
padding : 13px 0;
}

/*End of Left Content */

div#right-content {
float : right;
width : 370px; /*Max Width for any content */
padding : 0 5px;
background : #eff9fc;
}

h2.sub-title-head {
font-family: 'Average Sans', sans-serif;
font-size : 28px;
font-weight : normal;
}

div#tweet-stand {
text-align : left;
height : 60px;
}

img#tweet {
position : relative;
left : 120px;
top : -56px; 
}

div#media-content {
text-align : left;
margin-top : 20px;
}

div#sub-navigation {
width : 100%;
text-align : left;
margin-top : 14px;
}

ul#sub-nav li  a, ul#sub-nav li a:visited{
display : block;
padding : 0.90em 0.50em;
border-bottom : 1px dashed #2a2a2a;
}

ul#sub-nav li a:hover {
display : block;
background : #fff;
}


ul#sub-nav li:last-child {
border : none;
}
